
@{
    ViewData["Title"] = "Customer";
}

<h1>Customer</h1>

<table class="table">
    <tr>
        <th>Customer Id</th>
        <th>Customer Name</th>
        <th>Customer City</th>
        <th>Customer Email</th>
    </tr>
    <tr>
        <td>10001</td>
        <td>Vinod Rawool</td>
        <td>Pune</td>
        <td>vinodrawool00@gmail.com</td>
    </tr>
    <tr>
        <td>10002</td>
        <td>Momo Negi</td>
        <td>Pune</td>
        <td>momonegi87@gmail.com</td>
    </tr>
    <tr>
        <td>10003</td>
        <td>Rohit Bandi</td>
        <td>Vijaywada</td>
        <td>rohitbandi54@gmail.com</td>
    </tr>
    <tr>
        <td>10004</td>
        <td>Sarva Pra,sad</td>
        <td>Chennai</td>
        <td>sarva@gmail.com</td>
    </tr>
</table>

